@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Source Sans Pro', sans-serif;
}

/* Colors */

:root {
    --white: #FFFFFF;
    --whiteEc: #ECECEC;
    --whiteD7: #D7D7D7;
    --black: #000000;
    --black09: #090909;
    --black14: #141414;
    --black15: #151515;
    --black20: #202020;
    --gray50: #505050;
}

/* Colors */


/* General Classes */

.flex { display: flex; }

ul li { list-style-type: none; }

.fw400 { font-weight: 400; }

.fw600 { font-weight: 600; }

.fw700 { font-weight: 700; }

a { text-decoration: none; }

/* General Classes */






/* ******************************************************************* */

                                /* Header */
header {
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.5em 1em 1.25em;
}

ul { gap: 2em; }

li a {
    font-size: 0.75rem;
    color: var(--black09);
}


                                /* Main */

main {
    padding-left: 1.25em;
    padding-right: 1.25em;
    flex-direction: column;
    gap: 2.5em;
    margin-bottom: 1.69em;
}

.blog img {
    width: 100%;
    margin-bottom: 0.875em;
}

.blog-date {
    font-size: 0.875rem;
    margin-bottom: 0.65em;
    color: var(--black);
}

.blog-title {
    font-size: 1.5rem;
    margin-bottom: 0.375em;
    color: var(--black14);
}

.blog-paragraph {
    font-size: 1rem;
    color: var(--gray50);
}


                                /* Info Txt */

.info-txt {
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin-bottom: 3.125em;
}

.info-question {
    font-size: 1rem;
    color: var(--black15);
}

.info-paragraph {
    font-size: 1rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: var(--black15);
}

.recent {
    text-align: center;
    margin-bottom: 1.69em;
}

.recent-post {
    font-size: 1rem;
    color: var(--black);
}




                                /* Footer */
            
footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2.32em;
    padding-bottom: 2.32em;
    background-color: var(--black20);
}

.footer-title {
    font-size: 0.75rem;
    color: var(--whiteEc);
}

.copyright {
    font-size: 0.75rem;
    color: var(--whiteD7);
}

